<html ng-app="indexApp">
  <head>
    <title>Incremental Reading</title>
    <link rel="stylesheet" href="static/css/index.css">
  </head>

  <body>
    
    <nav class="navbar" ng-controller="navCtrl">
      <p class="titleBar" ng-bind="title"></p>
      <a href="#"><div id="nextButton"><p>Next Article</p></div></a>
      <p id="webSource" ng-bind="source"></p>
    </nav>

    <div class="main" ng-controller="articleCtrl">

      <div id="article" style="width: 50em; margin: 0 auto;">
        
      </div>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="static/js/indexApp.js"></script>
  </body>

</html>
